@use "variables";

/** on small screen */
@media only screen and (max-width: 600px) {
   .auto-expand{
      width: 100% !important;
      padding: 5% !important;
      
   }

   .auto-col{
      display: flex;
      flex-direction: column;
   }

   .home__page .overlay ul li{
      font-size:1.2rem !important;
   }
}
