@use 'variables';
$menubar-width:60px;
$menu-text-color:silver;
$menu-text-color-hover: $secondary;
.sidebar{
      display: flex;
      flex-direction: column;
      float:left;
      position: absolute;
      width: $menubar-width;
      min-height: 100vh - $header-height;
      background-color:$primary;
      z-index: 1;
      transition: 0.5s ease;
      
      .menu-item{

         display: flex;
         flex-direction: row;
         padding:10px 0px;
         .icon{
            min-width: $menubar-width;
            text-align: center;
            font-size: 1.2rem;
            color:$menu-text-color;
         }
         .icon-desc{
            visibility: hidden;
            color:$menu-text-color;
            font-size: 0.8rem;
            padding-top: 8px;
         }
         //menu item hover
         &:hover{
            .icon, .icon-desc{
               color:$menu-text-color-hover;
               transition: 0.5s ease;
            }
         }
      }

      //menubar hover
      &:hover{
         width:$menubar-width*3;   //expand
         transition: 0.5s ease;
      
         .icon-desc{
            visibility: visible;
         }
    }
      
}

.menu-item-active {
      .icon, .icon-desc{
         color:$menu-text-color-hover !important;
      }
   }