    @use 'variables';
    // $menubar-width:60px;
    .sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0px;
        top: $header-height;
        width: $menubar-width;
        min-height: 100vh - $header-height;
        background-color: $primary;
        //color: $primary;
        color: rgb(150, 146, 146); //dim color
        padding-top: 20px;
        z-index: 1;
        transition: 0.5s ease;
        .menu-item {
            flex-direction: inherit;
            text-align: center;
            padding: 5px 0px;
            //menu item hover
            &.active,
            &:hover {
                .icon,
                .icon-desc {
                    color: white;
                }
            }
        }
        .hyper {
            color: rgb(150, 146, 146);
        }
        .icon {
            font-size: 1.2rem;
        }
        .icon-desc {
            visibility: hidden;
            font-size: 0.75rem;
        }
        //sidebar hover
        &:hover {
            width: $menubar-width*1.25; //expand
            .icon-desc {
                margin-bottom: 20px;
                visibility: visible;
                transition: 0.5s ease;
            }
        }
    }